# Helper files
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea
.vscode
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Sensitive
application-prod.properties
